<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.20.59;Initial Catalog=PortalClientes; Persist Security Info=True; User ID=sa;Password=S0p0rt3" />    
    <add key="Id_Maquina" value="1" />    
    
    <!-- 
    <add key="RutaEjecutableBPro" value="C:\AndradeGPO\ActualizarCampoEnBP\Ejecutable\BusinessProSICOP.exe" />
    <add key="DirectorioArchivosSICOP" value="C:\AndradeGPO\ActualizarCampoEnBP\SiCoP\Generar\" />
    <add key="Mascara" value="SICOP_VENTAS_TEMP_DMS*.TXT" />
    -->
    
    <add key="Latencia" value="3"/>
    <add key="MinutosEsperaraBPro" value="1"/>
    <add key="TotalIntentos" value="3"/>
        
    <!--
    <add key="ConsultarParametrosDeBD" value="SI" />    
    <add key="NumeroSucursal" value="09" />
    <add key="BDBPRo" value="GAZM_Zaragoza" />
    <add key="UsuarioBPRo" value="GMI" />    
    -->
    <!-- De este servidor enviara el archivo de archivos-->
    <!--
    <add key="IPRemoto" value="192.168.20.43" />
    <add key="Usr" value="DANDRADE\sistemas" />
    <add key="Pass" value="sis_123" />
    <add key="CarpetaRemota" value="\\192.168.20.43\BusinessPro\NISSAN\SICOP\ZARAGOZA" />    
    -->    
  </appSettings>
</configuration>